.DS_STORE
.remote-sync.json
.venv
.idea
.localstorage
.module-cache
.vscode
public/
*/settings/local.py
*.pyc
*.db
*.orig
*.rdb
*.log
*.pid
*.csv
__pycache__
celerybeat-schedule
!frontend/.gitignore
!front-timetable/.gitignore
front-timetable/package-lock.json
.env
./etc/postgre/dbdata
